@font-face {
    font-family: Quicksand;
    src: url('../font/Quicksand-Regular.ttf');
}

:root {
    --color-red: #F64E60;
}

body {
    font-family: Quicksand;
}

html,
body,
.div-app,
app-root,
#page {
    height: 100%;
}

#logout {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.topbar .dropdown {
    top: 50%;
    transform: translateY(-50%);
}

.form-group label {
    color: #A4A8BF;
}

.fv-plugins-message-container .fv-help-block {
    color: var(--color-red);
    font-size: 0.9rem;
    font-weight: 400;
    text-align: left;
    padding-left: 20px;
}

.btn:disabled {
    cursor: no-drop;
}

.validation-error {
    text-align: left;
    padding-left: 10px;
    color: var(--color-red);
}