<div id="kt_footer" class="footer bg-white py-4 d-flex flex-lg-column ">

    <!-- Container -->
    <div class=" container-fluid  d-flex flex-column flex-md-row align-items-center justify-content-between">

        <!-- Copyright -->
        <div class="text-dark order-2 order-md-1">
            <span class="text-muted font-weight-bold mr-2">2020&copy;</span>
            <a href="http://keenthemes.com/metronic" target="_blank" class="text-dark-75 text-hover-primary">Keenthemes</a>
        </div>
        <!-- Copyright -->

        <!-- Nav -->
        <div class="nav nav-dark">
            <span id="copyright" class="text-muted font-weight-bold mr-2"></span>
        </div>
        <!-- Nav -->

    </div>
    <!-- Container -->

</div>