<div class="dropdown">

    <!-- Toggle -->
    <div class="topbar-item" data-toggle="dropdown" data-offset="10px,0px">
        <div class="btn btn-icon btn-clean btn-dropdown btn-lg mr-1">
            <img class="h-20px w-20px rounded-sm" src="./assets/media/svg/flags/brazil.svg" alt="brazil" />
        </div>
    </div>
    <!-- Toggle -->

    <div class="dropdown-menu p-0 m-0 dropdown-menu-anim-up dropdown-menu-sm dropdown-menu-right">

        <ul class="navi navi-hover py-4">

            <li class="navi-item">
                <a href="#" class="navi-link">
                    <span class="symbol symbol-20 mr-3">
        <img src="./assets/media/svg/flags/united-states.svg" alt="united-states"/>
        </span>
                    <span class="navi-text">English</span>
                </a>
            </li>

            <li class="navi-item active">
                <a href="#" class="navi-link">
                    <span class="symbol symbol-20 mr-3">
        <img src="./assets/media/svg/flags/spain.svg" alt="spain"/>
        </span>
                    <span class="navi-text">Spanish</span>
                </a>
            </li>

            <li class="navi-item">
                <a href="#" class="navi-link">
                    <span class="symbol symbol-20 mr-3">
        <img src="./assets/media/svg/flags/germany.svg" alt="germany"/>
        </span>
                    <span class="navi-text">German</span>
                </a>
            </li>

            <li class="navi-item">
                <a href="#" class="navi-link">
                    <span class="symbol symbol-20 mr-3">
        <img src="./assets/media/svg/flags/japan.svg" alt="japan"/>
        </span>
                    <span class="navi-text">Japanese</span>
                </a>
            </li>

            <li class="navi-item">
                <a href="#" class="navi-link">
                    <span class="symbol symbol-20 mr-3">
        <img src="./assets/media/svg/flags/france.svg" alt="france"/>
        </span>
                    <span class="navi-text">French</span>
                </a>
            </li>

        </ul>

    </div>

</div>